{% extends "base.html" %}

{% block titulo %}
About
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <h1 class="text-center mb-4">About Me</h1>
            <p>Mi nombre es Santiago Frydman y actualmente estoy estudiando la tecnicatura en Sistemas en la ORT. También estoy finalizando el curso de Python orientado a desarrollo web con Django en CoderHouse y he completado el curso de Data Analytics.</p>
            <p>Si les interesa saber más sobre mí, pueden encontrar mi perfil de LinkedIn en la parte baja de la pagina con todos mis datos.</p>
        </div>
    </div>
</div>
{% endblock contenido %}
