{%  extends 'base.html' %}

{% block titulo %}
Busqueda comision
{% endblock titulo %}

{% load static %}

{% block contenido %}
<h1>Busqueda comision</h1>

<form action="{% url 'buscar' %}" method="GET">

    <input type="number" name="comision" id="comision"> 

    <input type="submit" value="Enviar">

    {% if cursos  %}
        <p>Estamos buscando el: {{ comision }}</p>

        <ul>
            {% for curso in cursos %}
                <li>{{ curso.nombre }} - {{ curso.comision }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No hay datos con ese numero</p>
        
    {% endif %}

    <p>{{ respuesta }}</p>
    
</form>   

{% endblock contenido %}