{%  extends 'base.html' %}

{% block titulo %}
Formulario Cursos
{% endblock titulo %}

{% load static %}

{% block contenido %}
    <h1>Formulario - Curso</h1>
    {% if miFormulario.errors %}
    <p>Datos incorrectos</p>
    {% endif %}

        <form action="" method="POST"> {% csrf_token %} <!--Token de seguridad-->

            <table>

                {{miFormulario.as_table}}

            </table>


            <input type = "submit" value="Enviar">
            
        </form>  
    
{% endblock contenido %}