{%  extends 'base.html' %}

{% block titulo %}
Formulario estudiante
{% endblock titulo %}

{% load static %}

{% block contenido %}
    <h1>Formulario - Estudiante</h1>
    {% if miFormulario.errors %}
    <p>Datos incorrectos</p>
    {% endif %}

        <form action="" method="POST"> {% csrf_token %}

            <table>

                {{miFormulario.as_table}}

            </table>


            <input type = "submit" value="Enviar">
            
        </form>  
        <a href="{% url 'lista_estudiantes' %}">Lista estudiantes</a>
{% endblock contenido %}